<main>
    <div class="order_fin">
        <h1>ご注文ありがとうございました。</h1><br>
        入力いただいたメールアドレス宛にメールを送信いたしました。<br>
        メールが届くまで少々お待ちください。<br>
        しばらくお待ちいただいても、メールが届かない場合は、<br>
        大変お手数ですが、店舗までご連絡をお願いいたします。<br>
    </div>
</main>