 /* PC用CSS */
 @media screen and (min-width: 768px) {

    /* ingredients#index */
    .ing_list {
        padding: 0 15px;
        border: none;
        margin: auto 200px;
    }

    .list_title {
        font-size: 15;
        font-weight: bold;
    }

    /* ingredients#new */
    #ingredient_allergy_name {
        width: 170px;
        height: 25px;
    }

    .ing_create {
        padding: 0 15px;
        border: none;
        margin: auto 200px;
    }

    /* ingredients#edit */
    .ing_update {
        padding: 0 15px;
        border: none;
        margin: auto 200px;
    }

    /* ValidatesError */
    .mb-0 {
        color: red;
    }

 }