.ing_list {
    padding: 0 15px;
    border: none;
    margin: auto 200px;
}

.list_title {
    font-size: 15;
    font-weight: bold;
}

/* ValidatesError */
.mb-0 {
    border-color: red;
    border: 3px;
    background-color: red;
    width: 478px;
}