/* orders#new */
.order_info_Entry {
    padding: 0 15px;
    border: none;
    margin: auto 200px;
}

/* orders#check */
.order_confirm{
    padding: 0 15px;
    border: none;
    margin: auto 200px;
}