.create_user {
    padding: 0 15px;
    border: none;
    margin: auto 200px; 
    margin-left: auto;
    margin-right: auto;
    width: 16em
}

.edit_user {
    padding: 0 15px;
    border: none;
    margin: auto 200px; 
    margin-left: auto;
    margin-right: auto;
    width: 20em
}