/* users#new */
.create_user {
    padding: 0 15px;
    border: none;
    margin: auto 200px; 
    margin-left: auto;
    margin-right: auto;
    width: 19em
}

.required {
    color: red;
}

.field_with_errors {
    display: contents;
  }

#open {
    width: 22em;
}

/* users#edit */
.edit_user {
    padding: 0 15px;
    border: none;
    margin: auto 200px; 
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

/* ValidatesError */
.mb-0 {
    color: red;
}